/*内容区*/
#symptom .cont {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    border-top: 1px solid #eaecee;
    overflow: hidden;
}

#symptom .cont .left-tab {
    width: 30%;
    height: 100%;
    border-right: 1px solid #eaecee;
    overflow: auto;
    box-sizing: border-box;
}

#symptom .cont .left-tab .sort-list {
    height: .98rem;
    line-height: .98rem;
    font-size: .32rem;
    text-align: center;
    border-bottom: 1px solid #eaecee;
    position: relative;
}
#symptom .cont .left-tab .sort-list .border{
    width:0;
    height:.94rem;
    border:1px solid #fff;
    position: absolute;
    right:-1px;
    top:0;
    display: none;
}
#symptom .cont .left-tab .sort-list .border.active{
    display: block;
}
#symptom .cont .left-tab .sort-list.active {
    color: #8C9CFE;
    border-right: none;
    font-weight: bold;
}

#symptom .cont .right-cont {
    width: 69%;
    height: 100%;
    /*display: flex;*/
    /*flex-flow:row wrap;*/
    /*align-content:flex-start;*/
    overflow: auto;
    padding-bottom:.4rem;
    box-sizing: border-box;
}

#symptom .cont .right-cont .ri-list {
    width: 50%;
    height: .70rem;
    margin-top:.26rem;
    box-sizing:border-box;
    font-size: .32rem;
    line-height: .70rem;
    text-align: center;
}
#symptom .cont .right-cont .ri-list:nth-child(odd){
    padding:0 2% 0 4%;
}
#symptom .cont .right-cont .ri-list:nth-child(even){
    padding:0 4% 0 2%;
}
#symptom .cont .right-cont .ri-list:last-child{
    margin-bottom:2.6rem;
}

#symptom .cont .right-cont .ri-list>div{
    height:100%;
    border:none;
}
#symptom .cont .right-cont .ri-list>div.active {
    color: #8C9CFE;
    border: 1px solid #8C9CFE;
    border-radius: .10rem;
}


/*footer*/
#symptomFooter {
    position: fixed;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    z-index: 99;
    max-width: 1024px;
}

#symptomFooter .sure {
    width: 100%;
    background: #FF2F4A;
    font-size: .34rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}

#symptomFooter .sure.disabled {
    background: #eee;
    color: #fff;
}

#symptomFooter .scrollV {
    width: 100%;
    height:2.5rem;
    position: absolute;
    bottom: 1rem;
    padding: .10rem .22rem 0;
    box-sizing: border-box;
    background: rgba(42, 63, 84, 0.8);
    transition: 0.5s;
    overflow:auto;
}

#symptomFooter .choice {
    font-size: .32rem;
    height: .70rem;
    line-height: .70rem;
    padding: 0 .20rem 0 .22rem;
    background: #fff;
    color: #8C9CFE;
    margin: .18rem;
    border-radius: .10rem;
}
