.pad40{
    padding:0 .40rem;
    text-align: justify;
}
.list{
    border-bottom:1px dotted #eaeaea;
}
.list .title{
    height:.98rem;
    line-height: .98rem;
    font-size:.32rem;
    /*color:#2A3F54;*/
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.list .title .icon{
    color:rgba(42,63,84,0.3);
}

.list .describe{
    line-height:.40rem;
    padding-bottom:.20rem;
    font-size:.28rem;
    /*color:rgba(42,63,84,0.8);*/
    overflow: hidden;
}
.wikiList:last-child{
    margin-bottom:20px;
}
.wiki-container #topNav{background: #ffffff}