<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <meta name="viewport"content="width=device-width,initial-scale=1">
    <style type='text/css'>
        html { font-family:Helvetica; color:#222; }
        h1 { color:steelblue; font-size:24px; margin-top:24px; }
        button { margin:0 3px 10px; font-size:12px; }
    </style>
</head>
<body>
<h1>好药师JS测试</h1>
<script>
    function test(){
//        alert(navigator.userAgent);
    };
    test();

    var flag = false, lasted = false;//if lasted true 批量加入购物车 else 商品关键字搜索
    function connectWebViewJavascriptBridge(callback) {
        var strList = navigator.userAgent.split("haoyaoshi-iOS/");
        if(strList.length==1){
            strList = navigator.userAgent.split("haoyaoshi-android/");
        }
        if(strList.length > 1) {
            var version = strList[1].split(".");
            //判断版本是否大于2.8.2
            var discardVer = "2.8.2";
            var discardList = discardVer.split(".");
            for(var i = 0; i < Math.min(version.length, discardList.length); i++) {
                //废弃版本
                var v1 = parseInt(discardList[i]);
                //当前版本
                var v2 = parseInt(version[i]);
                if(v2 > v1) {
                    flag = true;
                    break;
                }
            }
            //判断版本是否大于3.2.3
            var discardVer1 = "3.2.3";
            var discardList1 = discardVer1.split(".");
            for(var i = 0; i < Math.min(version.length, discardList1.length); i++) {
                //废弃版本
                var v1 = parseInt(discardList1[i]);
                //当前版本
                var v2 = parseInt(version[i]);
                if(v2 > v1) {
                    lasted = true;
                    break;
                }
            }
        }
        if(flag) {
            if(window.WebViewJavascriptBridge) {
                return callback(WebViewJavascriptBridge);
            }
            if(window.WVJBCallbacks) {
                return window.WVJBCallbacks.push(callback);
            }
            window.WVJBCallbacks = [callback];
            var WVJBIframe = document.createElement('iframe');
            WVJBIframe.style.display = 'none';
            WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
            document.documentElement.appendChild(WVJBIframe);
            setTimeout(function() {
                document.documentElement.removeChild(WVJBIframe);
            }, 0);
        } else {
            if(window.WebViewJavascriptBridge) {
                callback(WebViewJavascriptBridge);
            } else {
                document.addEventListener('WebViewJavascriptBridgeReady', function() {
                    callback(WebViewJavascriptBridge);
                }, false);

            }
        }
    }

    connectWebViewJavascriptBridge(function(bridge) {
        //批量加入购物车
        document.getElementById('btn1').onclick = function() {
            bridge.callHandler('addListGoodsToCart',
                {'cartJson': '[{"pharmacyId":"25","listCart":[{"productId":701964,"productNum":1}]}]'}, function(response) {
                console.log(response);
            })
        };
        //跳转至商品关键词搜索
        document.getElementById('btn2').onclick = function() {
            bridge.callHandler('showGoodsSearchResults', {'keyword': '阿胶'}, function (response) {
                console.log(response);
            });
        };
    });
</script>
<button id="btn1">批量加入购物车</button><br/>
<button id="btn2">跳转至商品关键词搜索</button><br/>
</body>
</html>